@font-face {
    font-family: "mainFont";
    src: url(../fonts/HelveticaNeue-Thin-13.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Nino_Mtavruli";
    src: url(../fonts/bpg_nino_mtavruli_book.ttf) format("truetype");
    font-display: swap;
}

@media only screen and (min-width:890px) {
    @import './components/Desktop/variables';
    @import './components/Desktop/reset';
    @import './components/Desktop/header';
    @import './components/Desktop/slider';
    @import './components/Desktop/introduction';
    @import './components/Desktop/threeFigure';
    @import './components/Desktop/continue';
    @import './components/Desktop/ecology';
    @import './components/Desktop/littleCreatures';
    @import './components/Desktop/stars';
    @import './components/Desktop/love';
    @import './components/Desktop/animations';
}

@media only screen and (max-width:890px) {
    @import './components/Responsive/variables';
    @import './components/Responsive/reset';
    @import './components/Responsive/header';
    @import './components/Responsive/slider';
    @import './components/Responsive/introduction';
    @import './components/Responsive/threeFigure';
    @import './components/Responsive/continue';
    @import './components/Responsive/ecology';
    @import './components/Responsive/littleCreatures';
    @import './components/Responsive/stars';
    @import './components/Responsive/love';
    @import './components/Responsive/animations';
}