@import './components/reset';
@import './components/variables';
@import './components/header';
@import './components/Sesavali';
@import './components/threeFigure';
@import './components/continue';
@import './components/ecology';
@import './components/littleCreatures';
@import './components/stars';
@import './components/love';

section {
    display: none;
    position: relative;
}

section[class~=show]{
    display: block;
}

.responsive {
    display: none;
}