@import './components/reset';
@import './components/variables';
@import './components/header';
@import './components/Sesavali';

.show {
    display: block !important;
}

.active {
    color: $activeColor !important;
}

.openedNav {
    width: 250px !important;
}

.closedNav {
    width: 0 !important;
}

section {
    display: none;
    position: relative;
}

.responsive {
    display: none;
}