@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-book/css/bpg-nino-mtavruli-book.min.css");

* {
    font-family: "BPG Nino Mtavruli Book", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}