#three_Sec {
    img {
        width: 100%;
    }

    #three_figure_info {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        background-color: white;
        color: $darkTextColor;
        font-size: 20px;
        padding: 1rem;
        margin: 1rem;

        p {
            margin-top: 1rem;
        }
    }
}