@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-book/css/bpg-nino-mtavruli-book.min.css");
body {
  overflow: hidden;
}

* {
  font-family: "BPG Nino Mtavruli Book", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes slide_right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes slide_right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes slide_left {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}
@keyframes slide_left {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}
@-webkit-keyframes slide_up {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0;
  }
}
@keyframes slide_up {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0;
  }
}
header {
  background-color: #E1F4FF;
  padding: 0.3rem 0;
}
header #title {
  padding: 1rem;
}
header #title .fa-bars {
  float: left;
  padding-right: 1rem;
  color: #707070;
  font-size: x-large;
  display: none;
  cursor: pointer;
}
header #title h1 {
  color: #333333;
  font-weight: 500;
}
header #title p {
  font-size: 1.8rem;
  color: #707070;
  font-weight: 400;
}
header nav {
  background-color: white;
}
header nav #tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem 0;
}
header nav #tabs #closebtn {
  display: none;
}
header nav #tabs li {
  display: block;
  float: left;
  text-align: center;
  font-size: 1rem;
  color: #707070;
  opacity: 0.8;
  border-right: 1px solid #707070;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}
header nav #tabs li[class~=active] {
  color: #333333;
  opacity: 1;
}
header nav #tabs li:last-child {
  border: none;
}

@media only screen and (max-width: 950px) {
  header nav #tabs li {
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 800px) {
  header #title .fa-bars {
    display: block;
  }
  header #title p {
    display: none;
  }
  header nav #tabs {
    display: grid;
    position: fixed;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    overflow-x: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 1;
  }
  header nav #tabs li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
    text-align: left;
    font-size: 1.2rem;
    height: 100%;
    margin-left: 2rem;
  }
  header nav #tabs li::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 3rem;
    background-color: #707070;
  }
  header nav #tabs #closebtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 1.8rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header nav #tabs #closebtn .fa-xmark {
    position: relative;
    left: -1.5rem;
  }
  header nav #tabs[class~=openedNav] {
    width: 15rem;
  }
}
#slider_Sec {
  position: relative;
}
#slider_Sec .mySlides {
  display: none;
  position: relative;
  -webkit-animation-name: slide_right;
          animation-name: slide_right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
#slider_Sec .mySlides img {
  width: 100%;
}
#slider_Sec .mySlides .fa-plus {
  position: absolute;
  color: #707070;
  background-color: white;
  border: 3px solid #707070;
  border-radius: 50px;
  font-size: 1.5rem;
  padding: 3px 5px;
  cursor: pointer;
}
#slider_Sec [class*=fa-chevron-] {
  position: absolute;
  font-size: 70px;
  color: #707070;
  background-color: rgba(255, 255, 255, 0.7);
  top: 50%;
  margin: 10px;
  cursor: pointer;
}
#slider_Sec .fa-chevron-right {
  right: 0;
}

@media screen and (max-width: 1150px) {
  #slider_Sec .mySlides .fa-plus {
    font-size: 1rem;
  }
}
#introduction_Sec {
  width: 90%;
  padding-top: 5rem;
  margin: auto;
}
#introduction_Sec p {
  color: #333333;
  font-size: 1.2rem;
  margin-top: 2rem;
}

#three_Sec img {
  width: 100%;
}
#three_Sec #three_figure_info {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  background-color: white;
  color: #333333;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 1rem;
}
#three_Sec #three_figure_info p {
  margin-top: 1rem;
}

#continue_Sec img {
  width: 100%;
}
#continue_Sec #continue_info {
  position: absolute;
  width: 50%;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  color: #333333;
  padding: 1rem;
  font-size: 1.2rem;
}
#continue_Sec #continue_info h2 {
  margin-bottom: 1rem;
}

#ecology_Sec img {
  width: 100%;
}
#ecology_Sec #ecology_info {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  color: #333333;
  padding: 1rem;
  font-size: 1.3rem;
}
#ecology_Sec #ecology_info p {
  margin-top: 1rem;
}

#little_Sec img {
  width: 100%;
}
#little_Sec #little_info {
  position: absolute;
  width: 50%;
  top: 80%;
  left: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  color: #333333;
  padding: 1rem;
  font-size: 1.2rem;
}
#little_Sec #little_info h2 {
  margin-bottom: 0.8rem;
}

#stars_Sec img {
  width: 100%;
}
#stars_Sec #stars_info {
  position: absolute;
  width: 50%;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  color: #333333;
  padding: 1rem;
  font-size: 1.2rem;
}
#stars_Sec #stars_info h2 {
  margin-bottom: 0.8rem;
}

#love_Sec img {
  width: 100%;
}
#love_Sec #love_info {
  position: absolute;
  width: 30%;
  top: 45%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  color: #333333;
  padding: 1rem;
  font-size: 1.3rem;
}
#love_Sec #love_info h2 {
  margin-bottom: 0.8rem;
}

section {
  display: none;
  position: relative;
}

section:not(:first-child) {
  -webkit-animation-name: slide_up;
          animation-name: slide_up;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

section[class~=show] {
  display: block;
}

.responsive {
  display: none;
}